backend/venv/
models/venv/
venv/
.env/
__pycache__/
backend/.env
backend/__pycache__/
*.pyc
db.sqlite3
data/
*.csv
*.xlsx
*.pkl
models/Chat Analysis/data/
*.csv
*.xlsx
*.pkl
models/WebAnalysis/data/
*.csv
*.xlsx
*.pkl
backend/.env
backend/__pycache__/
*.pyc
db.sqlite3
*.pyc
__pycache__/
db.sqlite3
__pycache__/
*.pyc
